[submodule "top-api"]
	path = top-api
	url = ../top-api.git
	branch = main
[submodule "top-backend"]
	path = top-backend
	url = ../top-backend.git
	branch = master
[submodule "top-phenotypic-query"]
	path = top-phenotypic-query
	url = ../top-phenotypic-query.git
	branch = main
[submodule "top-document-query"]
	path = top-document-query
	url = ../top-document-query.git
	branch = main
