[submodule "top-api"]
	path = top-api
	url = git@github.com:KonradHoeffner/top-api.git
	branch = main
[submodule "top-backend"]
	path = top-backend
	url = git@github.com:KonradHoeffner/top-backend.git
	branch = master
[submodule "top-phenotypic-query"]
	path = top-phenotypic-query
	url = git@github.com:KonradHoeffner/top-phenotypic-query.git
	branch = main
[submodule "top-document-query"]
	path = top-document-query
	url = git@github.com:Onto-Med/top-document-query.git
[submodule "top-frontend"]
	path = top-frontend
	url = git@github.com:KonradHoeffner/top-frontend.git
