[submodule "backend"]
	path = backend
	url = git@github.com:KonradHoeffner/top-backend.git
[submodule "api"]
	path = api
	url = git@github.com:KonradHoeffner/top-api.git
[submodule "query"]
	path = query
	url = git@github.com:KonradHoeffner/top-phenotypic-query.git
